/* ==================== RESET ==================== */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    font-family: "Montserrat", sans-serif;
    font-display: swap;
    background: #fff;
    color: #000;
    overflow-x: hidden;
    line-height: 1.6;
}

html, body {
  height: 100%;
  margin: 0;
}

main {
  min-height: calc(100vh - 200px); /* 200px = altura aproximada do footer */
}

/* ==================== HEADER ==================== */
header {
    background: #e30613;
    color: #fff;
    width: 100%;
    position: relative;
    z-index: 998;
}

.header-container {
    max-width: 1280px;
    margin: 0 auto;
    padding: 30px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    height: 45px;
    z-index: 999;
}

nav {
    display: flex;
    align-items: center;
    gap: 20px;
    position: relative;
}

.nav-links {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: absolute;
    top: calc(100% + 4px);
    right: 16px;
    background: #e30613;
    padding: 12px 16px;
    border-radius: 8px;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.5);
    z-index: 997;
    min-width: 410px;
    min-height: 400px;
    opacity: 0;
    transform: translateY(-10px);
    transition: transform 0.35s ease, opacity 0.35s ease;
    padding-top: 40px;
    margin: 6px 0;
}

.nav-links.show {
    display: flex;
    opacity: 1;
    transform: translateY(0);
}

.nav-links.show {
    display: flex;
    opacity: 1;
    transform: translateY(0);
}

.nav-links a,
.nav-links p {
    color: #fff;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-links a {
    margin-bottom: 20px;
    font-weight: 500;
    transition: 0.3s;
}

.nav-links a:hover {
    opacity: 0.7;
}

.menu-toggle {
    background: none;
    border: none;
    display: block;
    cursor: pointer;
    padding: 6px;
    z-index: 1001;
}

.menu-toggle img {
    width: 28px;
    height: 28px;
    transition: transform 0.35s ease, opacity 0.35s ease;
}

/* ==================== FOOTER ==================== */
footer {
    background: #e30613;
    color: #fff;
    margin-top: 40px;
    padding: 40px;
    margin-top: auto;
}

.footer-container {
    max-width: 1280px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 40px;
}

.footer-left h4,
.footer-right h4 {
    font-weight: 700;
    margin-bottom: 12px;
}

.footer-right h4 {
    display: flex;
    justify-content: center;
    align-items: center;
}


.footer-left ul {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.footer-left ul,
.footer-right ul {
    list-style: none;
}

.footer-left ul li,
.footer-right ul li {
    margin-bottom: 8px;
}

.footer-left a,
.footer-right a {
    text-decoration: none;
    color: #fff;
    transition: 0.3s;
}

.footer-left a:hover,
.footer-right a:hover {
    opacity: 0.8;
}

.footer-right .icons {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 10px;
}

.footer-right .icons img {
    width: 22px;
    height: 22px;
}

.footer-right .acesso {
    font-size: 0.9rem;
    text-align: center;
}

.footer-right .acesso a {
    color: #fff;
    text-decoration: underline;
}

@media (max-width: 500px) {
    header {
        position: fixed;
        z-index: 999;
        opacity: 1;
    }

    footer {
        margin-top: 0;
    }
}

@media (max-width: 700px) {
    header {
        position: fixed;
        z-index: 999;
        opacity: 1;
    }
}