@import url(/src/styles/global-servidores.css);

/* Estilo base dos links na nav-bar */
button.home-btn  {
  background: none;
  border: none;
  cursor: pointer;
  width: 40px;
  height: 40px;
  padding: 5px;
}

button.home-btn img {
  width: 100%;
  height: auto;
}


/* Efeito ao passar o mouse */
button.home-btn:hover {
  transform: scale(1.1);
  filter: drop-shadow(0 0 5px #ff0000);
}

/* Efeito ao clicar */
button.home-btn:active {
  transform: scale(0.95);
}

nav a {
  position: relative;
  text-decoration: none;
  color: white;
  transition: color 0.3s ease;
}

nav a:hover {
  color: #ffc1c1;
}

nav a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -4px;
  width: 0;
  height: 2px;
  background-color: #ffc1c1;
  transition: width 0.5s ease;
  border-radius: 2px;
}

nav a:hover::after {
  width: 100%;
}

.footer-left {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-left h4 {
  text-align: center;
  margin-bottom: 16px;
}

.footer-lists {
  display: flex;
  gap: 40px;
  justify-content: center;
}